.popup__head {
  margin: 34px 64px 56px 36px;
  color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.813rem;
}

@media (max-width: 450px) {
  .popup__head {
    font-size: 18px;
    line-height: 1.375rem;
    margin: 25px 22px 75px 22px;
  }
}
