.element__like {
  background-image: url(../../../images/like.svg);
  padding: 0;
  border: none;
  font: inherit;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  height: 19px;
  width: 22px;
  margin: auto;
  flex-shrink: 0;
}

.element__like:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}
